
/* Web Font */
* {
    font-family: 'Titillium Web', sans-serif; 
}

/* Relative positioning*/
#image-map {
    position: absolute;
    margin: 0 auto 20px auto;
    width: 1900px;
    
}

/* Hide the original tooltips contents */
.pin {
    display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up, .tooltip-down {
    position: absolute;
    background: url(https://i.imgur.com/13rZbuk.png);
    background-size: 20px 35px;
    width: 20px;
    height: 18px;
}

.tooltip-down {
    background-position: 0 -52px;
}

.tooltip {
    display: none;
    width: 200px;
    cursor: help;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 999;
    margin-left: -115px;
    padding:15px;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0,0,0,.7);
    background: #fff1d3;
    background: linear-gradient(top, #fff1d3, #ffdb90);         
}

.tooltip::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-bottom: 10px solid #fff1d3;
    border-left: 10px solid transparent;
    border-right : 10px solid transparent;
}

.tooltip-down .tooltip {
    bottom: 12px;
    top: auto;
}

.tooltip-down .tooltip::after {
    bottom: -10px;
    top: auto;
    border-bottom: 0;
    border-top: 10px solid #ffdb90;
}

.tooltip h2 {
    font: bold 1.3em 'Trebuchet MS', Tahoma, Arial;
    margin: 0 0 10px;
}

.tooltip ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
	padding:0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
}
ul,ol {
	list-style-type: none;
}
p, label {
	font-family: sans-serif;
}
.container-wrapper {
	margin:7% auto;
	position: relative;
	width: 500px;
	overflow: hidden;
}

/* CSS Tab styling is start here */

	/* Tab menu styling*/
	input.tab-menu-radio {
		display: none;
	}
	label.tab-menu {
		display: inline-block;
		float: left;
		padding:10px 30px;
		cursor: pointer;
		z-index: 99;
	}
	/* End Tab menu styling*/

	/* Tab content styling*/
	
	.tab-content {
		top:-3px;
		clear: both;
		width: 100%;
		position: relative;
		padding:20px;
		background-color: #f7f7f7;
		border-top:7px solid #333;
	}	
	/* End Tab content styling*/

	/* CSS tab core */
		.tab-menu-radio:checked + label {
			-webkit-transition:all 1s; /* Optional */
			-moz-transition:all 1s; /* Optional */
			transition:all 1s; /* Optional */
			background-color: #333;
			color: #fff;
		}
		.tab-content .tab {
			height: 0;
			opacity: 0;
		}
		#tab-menu1:checked ~ .tab-content .tab-1,
		#tab-menu2:checked ~ .tab-content .tab-2,
		#tab-menu3:checked ~ .tab-content .tab-3 {
			-webkit-transition:opacity 1s; /* Optional */
			-moz-transition:opacity 1s; /* Optional */
			transition:opacity 1s; /* Optional */
			height: auto;
			opacity: 1;
		}
	/* End CSS tab core */

/* CSS Tab Styling is end here */


/*bagian header*/
.wrap .header{
	background: green;
	/*height: 50px;*/
	padding: 2px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}


/*akhir menu*/

 .menu2{
	background: #ffcccc;
}
 
.wrap2 .menu2 ul{
	padding: 0;
	margin: 0;
	background: #ffcccc;
	overflow: hidden;
}
 
.wrap2 .menu2 ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}


 
.clear{
	clear: both;
}
 
.badan{
	height: 650px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
        float: right;
        width: 200px;
	left: 45%;
	width: 25%;
	height: 75%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: #fff1d3 ;
	float: left;
	height: 90%;
	width: 1%;	
}

.wrap2 .badan2 .content2{
	background: blue ;
	float: left;
	height: 100%;
	width: 75%;	
}
 
 
.wrap .footer{
	width: 100%;
	padding: 10px;
}




.pin2 {
    display: none;
}

/* Begin styling the tooltips and pins */
.tooltip-up2, .tooltip-down2 {
    position: absolute;
    background: url(https://i.imgur.com/13rZbuk.png);
    background-size: 20px 35px;
    width: 20px;
    height: 18px;
}

.tooltip-down2 {
    background-position: 0 -52px;
}

.tooltip2 {
    display: none;
    width: 200px;
    cursor: help;
    text-shadow: 0 1px 0 #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 999;
    margin-left: -10px;
    padding:15px;
    color: #222;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0,0,0,.7);
    background: #fff1d3;
    background: linear-gradient(top, #fff1d3, #ffdb90);         
}

.tooltip2::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -90px;
    border-bottom: 10px solid #fff1d3;
    border-left: 10px solid transparent;
    border-right : 10px solid transparent;
}

.tooltip-down2 .tooltip2 {
    bottom: 12px;
    top: auto;
}

.tooltip-down2 .tooltip2::after {
    bottom: -10px;
    top: auto;
    border-bottom: 0;
    border-top: 10px solid #ffdb90;
}

.tooltip2 h2 {
    font: bold 1.3em 'Trebuchet MS', Tahoma, Arial;
    margin: 0 0 10px;
}

.tooltip2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
